@{
    this.ViewBag.Title = "Socios";
}

@section TopLeftArea{
<button id="import-button" class="btn btn-primary float-end ms-1">
    <i class="far fa-file-excel"></i> Importar</button>

<button id="export-button" class="btn btn-secondary float-end">
    <i class="far fa-file-excel"></i> Exportar</button>

}

<form id="import-form" method="post" class="d-none" enctype="multipart/form-data">
    <input id="batchPartnert" name="batchPartnert" type="file"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
</form>

<div class="row">
    <msgblock></msgblock>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="datatables-partnerts" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            @* <th></th> *@
                            <th>ID</th>
                            <th>Identificación</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Usuario Activado</th>
                        </tr>
                        <tr class="filters">
                            @* <th></th> *@
                            <th></th>
                            <th><input type="text" class="form-control" placeholder="Filtrar" /></th>
                            <th><input type="text" class="form-control" placeholder="Filtrar" /></th>
                            <th><input type="text" class="form-control" placeholder="Filtrar" /></th>
                            <th><input type="text" class="form-control" placeholder="Filtrar" /></th>
                            <th><input type="text" class="form-control" placeholder="Filtrar" /></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>

    $(function () {

        var dataTableRequest = {};
        $("#export-button").on("click", function () {
            dataTableRequest.export = true;
            dataTableRequest.length = table.page.info().recordsTotal;  //all records
            var queryString = $.param(dataTableRequest);
            window.open('@Url.Action("GetList","Partnert")?' + queryString, "_blank")
        });

        $("#import-button").on("click", function () {
            $("#batchPartnert").trigger('click');
        });

        $("#batchPartnert").on("change", function () {
            $("#import-form").submit();
        });

        var table = $("#datatables-partnerts").DataTable(
            {
                orderCellsTop: true,
                fixedHeader: true,
                "order": [[4, 'asc']],
                "searching": true,
                "processing": true,
                "serverSide": true,
                "ordering": true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Nada para mostrar",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },
                "columns": [
                    @* {
                        "name": "actions",
                        "data": null,
                        "orderable": false,
                        "defaultContent":
                            `
						<div class="table-action">
						<a action-type="DELETE" href="#"><i class="align-middle me-2 far fa-trash-alt"></i></a>                        
						</div>
						`
                    }, *@
                    { "data": "partnertId", "name": "PartnertId", visible: false, "orderable": false },
                    { "data": "identification", "name": "Identification", orderable: true, "searchable": true },
                    { "data": "names", "name": "Names", orderable: true, "searchable": true },
                    { "data": "lastNames", "name": "LastNames", "searchable": true },
                    { "data": "email", "name": "Email", orderable: true, "searchable": true },
                    { "data": "phoneNumber", "name": "PhoneNumber", orderable: true, "searchable": true },
                    { "data": "hasUser", "name": "HasUser", orderable: true, "searchable": true }
                ],
                "columnDefs": [ {
					"targets": 6,
					//"data": null,
					//"defaultContent": "<button>Click!</button>"
					"render": function (data, type, row){
						if(data){
							return '<div class="text-center"><i class="fas fa-check"></i></div>';
						}
						else{
							return '<div class="text-center"><i class="fas fa-ban"></i></div>';
						}						 
					}
				} 
				], 
                "ajax": {
                    "url" : "@Url.Action("GetList","Partnert")",
                    "data": function (data) {                      
                        dataTableRequest = data;                        
                    }
                }
            }
        );

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input',
                $('#datatables-partnerts .filters th').eq($(table.column(colIdx).header()).index())
            ).on('keyup',

                ecubytes.functions.delay(
                    function () {

                        table
                            .column(colIdx)
                            .search(this.value)
                            .draw();
                    }
                    , 1000)
            );
        });

        $('#datatables-partnerts_filter').hide();

        $('#datatables-partnerts tbody').on('click', 'a', function () {

            let data = $('#datatables-partnerts').DataTable().row($(this).parents('tr')).data();
            let url = '';
            let action = $(this).attr('action-type');

            if (action == 'EDIT')
                url = '@Url.Action("Edit","Partnert")';
            else if (action == 'DELETE')
                url = '@Url.Action("Delete","Partnert")';

            location.href = url + '?id=' + data["partnertId"];
        });


    });

    var ecubytes = {
        functions:
        {
            delay: function (callback, ms) {
                var timer = 0;
                return function () {
                    var context = this, args = arguments;
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        callback.apply(context, args);
                    }, ms || 0);
                };
            }
        }
    }

</script>
}
