// Multi level dropdown    
li.nav-item.dropdown
    a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
    ul.dropdown-menu.dropdown-menu-animated(aria-labelledby='navbarDropdownMenuLink')
        li
            a.dropdown-item(href='#') Action
        li
            a.dropdown-item(href='#') Another action
        li.dropdown-submenu
            a#navbarDropdownMenuLink2.dropdown-item.dropdown-toggle(href='#', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown link
            ul.dropdown-menu.dropdown-menu-animated(aria-labelledby='navbarDropdownMenuLink2')
                li
                    a.dropdown-item(href='#') Action
                li.dropdown-submenu
                    a#navbarDropdownMenuLink3.dropdown-item.dropdown-toggle(href='#', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Another action
                    
                    ul.dropdown-menu.dropdown-menu-animated(aria-labelledby='navbarDropdownMenuLink3')
                        li
                            a.dropdown-item(href='#') Action
                        li
                            a.dropdown-item(href='#') Action
                        li
                            a.dropdown-item(href='#') Action
                        li
                            a.dropdown-item(href='#') Action
                li.dropdown-submenu
                    a#navbarDropdownMenuLink4.dropdown-item.dropdown-toggle(href='#', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Another action
                    
                    ul.dropdown-menu.dropdown-menu-animated(aria-labelledby='navbarDropdownMenuLink4')
                        li
                            a.dropdown-item(href='#') Action
                        li
                            a.dropdown-item(href='#') Action
                        li
                            a.dropdown-item(href='#') Action
                        li
                            a.dropdown-item(href='#') Action
                li
                    a.dropdown-item(href='#') Something else here
        li.dropdown-submenu
            a#navbarDropdownMenuLink5.dropdown-item.dropdown-toggle(href='#', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown link
            ul.dropdown-menu.dropdown-menu-animated(aria-labelledby='navbarDropdownMenuLink5')
                li
                    a.dropdown-item(href='#') Action                    
// Multi level dropdown end