@model IEnumerable<StandCoordViewModel>
@using Microsoft.AspNetCore.Http

@foreach (var item in Model.Where(p => p.IsEditable))
{
    <div standId="@item.StandId" providerId="@item.ProviderId" class="stand-item-map text-center"
    style="width: @{@item.Width}px; left: @{@item.X}px; top:@{@item.Y}px; height: @{@item.Height}px; border:1px;">
        @if (!string.IsNullOrWhiteSpace(item.LogoUrl))
        {
            <img src="@Url.Content("~" + item.LogoUrl)" width="100px" height="50px">
        }
        else
        {
            <h4>@item.ProviderName</h4>
        }
    </div>
}

<script>

    @if (Context.Request.IsAjaxRequest())
    {
        @:bindOnClickSetStand();
    }
</script>