@{
    ViewData["Title"] = "Sin Stand";
}

<div class="text-center">
    <h1 class="display-4">No tienes un Stand Asignado aún</h1>
    <h3 class="text-muted">Comunicate con la Administración para mayor información.</h3>
</div>
