.stand-5 .stand-contact-content {
    color: #343a40 !important;    
}

/* 
.stand-5 .stand-text-content{
    border: 1px solid #dee2e6 !important;
    border-color: rgba(255, 255, 255, 0.2) !important;  
    background-color: rgba(51,79,127,0.7);
    border-radius: 5px;
} 
*/


.stand-5 .stand-photo-content .stand-photo {
    width: 100px !important;
    height: 100px !important;
}

.stand-5 .stand-photo-title {
    position: absolute;
    top: -15px;
    left: -23px;
    z-index: 999;
    display: inline-block;
    font-family: "HK Grotesk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 3px 15px 5px;
    color: #fff;
    text-align: center;
    font-size: large;
    font-weight: 600;

    box-sizing: content-box;
    background-color: rgba(86, 115, 171, 1) !important;
    text-shadow: 1px 1px 4px #212529;
}

.stand-5 .stand-photo-title::before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 0 solid transparent;
    border-top: 14px solid #1460a0;
    position: absolute;
    bottom: -14px;
    left: 0;
    border-top-color: #212529;
}

.stand-5 .stand-photo-content-area{
    margin-top: 30px;
}


.stand-5 .stand-text-item {
    margin: 8px;
    width: 80%;
    padding: 5px;
    cursor: pointer;
    /* position: absolute; */
    top: 0px;
    z-index: 999;
    display: inline-block;
    font-family: "HK Grotesk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fff;
    text-align: center;
    font-size: small;
    font-weight: 600;
    box-sizing: content-box;
    background-color: rgba(90,127,197,0.8) !important;
    text-shadow: 1px 1px 4px #212529;
    word-wrap: break-word;
    border-radius: 5px;
}

.stand-5 .stand-text-item:hover {
    background-color: rgba(90,127,197,1) !important;
}

.stand-5 .stand-contact-title {
    position: absolute;
    top: -15px;
    left: -23px;
    z-index: 999;
    display: inline-block;
    font-family: "HK Grotesk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 3px 15px 5px;
    color: #fff;
    text-align: center;
    font-size: large;
    font-weight: 600;

    box-sizing: content-box;
    background-color: rgba(86, 115, 171, 1) !important;
    text-shadow: 1px 1px 4px #212529;
    cursor: pointer;
}

.stand-5 .stand-contact-title::before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 0 solid transparent;
    border-top: 14px solid #1460a0;
    position: absolute;
    bottom: -14px;
    left: 0;
    border-top-color: #212529;
}

.stand-5 .stand-contact-title:hover {
    background-color: rgb(36, 101, 231) !important;
}

.stand-5 .stand-contact-data-area{
 margin-top: 20px;
}

.stand-5 .stand-contact-row {
    color: inherit;
    font-size: 14px;
    overflow-wrap: break-word;
    margin-top: 10px;
}

.stand-5 .contact-field-label {
    color: #033157;
    /* text-shadow: 1px 1px 1px grey; */
    font-weight: 700;
    font-family: "HK Grotesk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
}

.stand-5 .contact-field-value {
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
    word-break: break-all;
    color: black;
}

.stand-10 .contact-field-value span{    
    word-break: break-all;
}

.stand-5 .stand-contact-social {
    color: inherit;
}

.stand-5 .stand-contact-address-row {
    display: none;
}

.stand-5 .stand-contact-email-row {
    display: inherit;
}


.stand-5 .stand-contact-phone-number-row {
    display: none;
}

.stand-5 .stand-contact-more {
    color: black;
}

.stand-5 .stand-document-button-content,
.stand-5 .stand-link-button-content,
.stand-5 .stand-calendar-button-content {
    border: 1px solid #dee2e6 !important;        
    background-color: rgba(86, 115, 171, 0.8) !important;
    border-radius: 5px;
    padding: 8px;
    text-shadow: 1px 1px 4px #212529;
}

.stand-5 .stand-document-button-content:hover,
.stand-5 .stand-link-button-content:hover,
.stand-5 .stand-calendar-button-content:hover {
    background-color: rgba(86, 115, 171, 1) !important;
}

.stand-5 .stand-document-link,
.stand-5 .stand-link,
.stand-5 .stand-calendar {
    color: rgba(255, 255, 255, 0.9) !important;
}

.stand-5 .stand-title {   
    /* background-color: rgba(163, 134, 74, 0.5); */
    color: rgba(255, 255, 255, 0.9) !important;
    text-align: center;
    vertical-align: middle;
    text-shadow: 1px 1px 4px #212529;
    font-size: x-large;
}

.stand-social-networks-content .social-items-content {
    background-color: rgba(255, 255, 255, 0.5);    
}