/*STAND-3*/

.stand-3 .stand-contact-content {
    color: #343a40 !important;
}


.stand-3 .stand-photo-content .stand-photo {
    width: 100px !important;
    height: 100px !important;
    border-radius: 5px;
}

.stand-3 .stand-photo-title {
    position: absolute;
    top: 0px;
    left: -20px;
    z-index: 999;
    display: inline-block;
    font-family: "HK Grotesk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 3px 15px 5px;
    color: #fff;
    text-align: center;
    font-size: large;
    font-weight: 600;

    box-sizing: content-box;
    background-color: #35b653 !important;
    text-shadow: 1px 1px 4px #212529;
}


.stand-3 .stand-photo-title::before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 0 solid transparent;
    border-top: 14px solid #212529;
    position: absolute;
    bottom: -14px;
    left: 0;
    border-top-color: #212529;
}

.stand-3 .stand-contact-title {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: -22px;
    z-index: 999;
    display: inline-block;
    font-family: "HK Grotesk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 3px 4px 5px;
    color: #fff;
    text-align: center;
    font-size: large;
    font-weight: 600;

    box-sizing: content-box;
    background-color: #35b653 !important;
    text-shadow: 1px 1px 4px #212529;
}

.stand-3 .stand-contact-title::before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 0 solid transparent;
    border-top: 14px solid #1460a0;
    position: absolute;
    bottom: -14px;
    left: 0;
    border-top-color: #1e672f;
}

.stand-3 .stand-text-item-label {
    margin: 5px 5px;
}
.stand-3 .stand-text-item {
    margin-top: 10px;
    width: 100%;
    padding: 0;    

    cursor: pointer;
    /* position: absolute; */
    top: 0px;    
    z-index: 999;
    display: inline-block;
    font-family: "HK Grotesk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    color: #fff;
    text-align: center;
    font-size: small;
    font-weight: 600;

    box-sizing: content-box;
    background-color: #35b653 !important;
    text-shadow: 1px 1px 4px #212529;

    word-wrap: break-word;
}

.stand-3 .stand-text-item::before {
    content: '';
    border-right: 12px solid transparent;
    border-left: 0 solid transparent;
    border-top: 14px solid #1460a0;
    position: absolute;
    bottom: -14px;
    right: 0;
    border-top-color: #1e672f;
}

.stand-3 .stand-photo-content{
    border: 1px solid #dee2e6 !important;
    border-color: #343a40 !important;
    background-color: #343a40;
    border-radius: 2px;
    padding: 5px;
}
.stand-3 .stand-contact-data-area{
    margin-top: 50px;
}

.stand-3 .stand-photo-content-area{
    margin-top: 40px;
}
.stand-3 .stand-contact-row {
    font-size: 14px;
    overflow-wrap: break-word;
    margin-top: 10px;
}

.stand-3 .stand-contact-address-row {
    display: none;
}

.stand-3 .stand-contact-more {
    color: black;
}
.stand-3 .contact-field-label {
    color: #1460a0;
    /* text-shadow: 1px 1px 1px grey; */
    font-weight: 700;
    font-family: "HK Grotesk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
}


.stand-3 .contact-field-value {
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
    word-break: break-all;
}

.stand-3 .contact-field-value span{    
    word-break: break-all;
}

.stand-3 .stand-document-button-content,
.stand-3 .stand-link-button-content,
.stand-3 .stand-calendar-button-content {
    border: 1px solid #dee2e6 !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
    background-color: rgba(163, 134, 74, 0.8);
    border-radius: 4px;
    text-shadow: 1px 1px 4px #212529;
    font-size: large !important;
}

.stand-3 .stand-document-button-content:hover,
.stand-3 .stand-link-button-content:hover,
.stand-3 .stand-calendar-button-content:hover {
    background-color: rgba(163, 134, 74, 1);
}

.stand-3 .stand-document-link,
.stand-3 .stand-link,
.stand-3 .stand-calendar {
    color: rgba(255, 255, 255, 0.9) !important;
}

.stand-3 .stand-title {
    border: 1px solid #dee2e6 !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
    background-color: rgba(163, 134, 74, 0.8);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.9) !important;
    text-align: center;
    vertical-align: middle;
    text-shadow: 1px 1px 4px #212529;
}

.stand-3 .stand-social-networks-content {
}

/**********FIN STAND-3*****************/
