
.stand-4 .stand-contact-content {
    color: rgba(255, 255, 255, 0.6) !important;
}

.stand-4 .stand-text li {
    color: rgba(255, 255, 255, 0.6) !important;
    font-size: 16px !important;
}

.stand-4 .stand-photo-content .stand-photo {
    width: 120px !important;
    height: 120px !important;
}


.stand-4 .stand-photo-title {
    
    top: 0px;
    left: 0px;
    z-index: 999;
    display: inline-block;
    font-family: "HK Grotesk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 3px 15px 5px;
    color: #fff;
    text-align: center;
    font-size: large;
    font-weight: 600;
    width: 100%;

    border: 1px solid #dee2e6 !important;
    border-color: #343a40 !important;
    background-color: #343a40;
    margin-bottom: 10px;
}


.stand-4 .stand-contact-title {
    cursor: pointer;

    top: 0px;   
    z-index: 999;
    display: inline-block;
    font-family: "HK Grotesk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 3px 4px 5px;
    color: #fff;
    text-align: center;
    font-size: large;
    font-weight: 600;

    box-sizing: content-box;
    background-color: rgba(15, 43, 116, 0.8) !important;
    text-shadow: 1px 1px 4px #212529;
    width: 100%;
}


.stand-4 .stand-contact-title:hover {    
    background-color: rgba(15, 43, 116, 1) !important;    
}


.stand-4 .stand-text-item-label {
    margin: 5px 5px;
}
.stand-4 .stand-text-item {
    margin-top: 10px;
    width: 100%;
    padding: 0;    

    cursor: pointer;
    /* position: absolute; */
    top: 0px;    
    z-index: 999;
    display: inline-block;
    font-family: "HK Grotesk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    color: #fff;
    text-align: center;
    font-size: small;
    font-weight: 600;

    box-sizing: content-box;
    border: 1px solid #dee2e6 !important;
    border-color: #343a40 !important;
    background-color: #343a40;
    text-shadow: 1px 1px 4px #212529;

    word-wrap: break-word;
}


.stand-4 .stand-text-item:hover {
    background-color: rgba(52, 58, 64, 0.7);
}

.stand-4 .contact-field-label {
    color: #1460a0;
    /* text-shadow: 1px 1px 1px grey; */
    font-weight: 700;
    font-family: "HK Grotesk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
}


.stand-4 .contact-field-value {
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
    word-break: break-all;
}

.stand-4 .contact-field-value span{    
    word-break: break-all;
}


.stand-4 .stand-contact-row {
    color: inherit;
    font-size: 14px;
    overflow-wrap: break-word;
    margin-top: 10px;
}

.stand-4 .stand-contact-social {
    color: inherit;
}

.stand-4 .stand-contact-address-row {
    display: none;
}

.stand-4 .stand-contact-more {
    color: inherit;
}

.stand-4 .stand-document-button-content,
.stand-4 .stand-link-button-content,
.stand-4 .stand-calendar-button-content {
    border: 1px solid #dee2e6 !important;        
    background-color: rgba(15, 43, 116, 0.9);
}


.stand-4 .stand-document-button-content:hover,
.stand-4 .stand-link-button-content:hover,
.stand-4 .stand-calendar-button-content:hover {
    background-color: rgba(15, 43, 116, 1);
}


.stand-4 .stand-document-link,
.stand-4 .stand-link,
.stand-4 .stand-calendar {
    color: rgba(255, 255, 255, 0.9) !important;
}

.stand-4 .stand-title {
    border: 1px solid #dee2e6 !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
    background-color: rgba(14, 14, 14, 0.9);
    /* background-color: rgba(255, 255, 255, 0.9); */
    border-radius: 4px;
    /* color: rgba(15, 43, 116, 0.7) !important; */
    color: rgba(255, 255, 255, 0.9) !important;
    text-align: center;
    vertical-align: middle;
    text-shadow: 1px 1px 4px rgba(15, 43, 116);
    font-size: x-large;
}

.stand-4 .stand-social-networks-content .social-items-content{
    background-color: rgba(255, 255, 255, 0.7);
}