<div class="d-flex align-items-center justify-content-between justify-content-lg-end mt-1 mb-2 my-lg-0">

    <div class="nav-item d-lg-none mx-auto w-100">
        <!-- buttons-->
        @if (User.Identity.IsAuthenticated)
        {
            <div class="navbar-cart-product-wrapper">
                <div class="navbar-user-dropdown-item">                            
                        <a class="btn-link text-uppercase text-muted" asp-action="Profile" asp-controller="Account">Cambiar Contraseña</a>
                </div>               
                <!-- buttons-->
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-dark" asp-controller="Account" asp-action="SignOut">Salir</a>
                </div>
            </div>
        }
    </div>

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="nav-item">
            <a class="navbar-icon-link" asp-controller="Account" asp-action="SignIn">
                <svg class="svg-icon">
                    <use xlink:href="#male-user-1"> </use>
                </svg><span class="text-sm ms-2 ms-lg-0 text-uppercase text-sm fw-bold d-none d-sm-inline d-lg-none">Log in
                </span></a>
        </div>
    }
    else
    {        
        <div class="nav-item dropdown d-none d-md-block">          
            <div class="d-none d-lg-block">
                <a class="navbar-icon-link" id="cartdetails" href="#" data-bs-target="#" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                    <span class="me-2">@User.Identity.Name</span>
                    <svg class="svg-icon">
                        <use xlink:href="#male-user-1"> </use>
                    </svg>
                </a>

                <div class="dropdown-menu dropdown-menu-animated dropdown-menu-end mt-0 p-4" aria-labelledby="cartdetails">
                    <div class="navbar-cart-product-wrapper">
                        <div class="navbar-user-dropdown-item">
                             <a class="btn-link text-uppercase text-muted" asp-action="Profile" asp-controller="Account">Perfil</a>
                        </div>
                        @if(this.User.IsInRole("crecer.fair.admin.web.access"))
                        {
                            <div class="navbar-user-dropdown-item">
                                <a asp-controller="Fair" asp-action="Admin"><span class="text-center text-uppercase text-muted">
                                    Administración
                                </span></a>
                            </div>                           
                        }
                        <!-- buttons-->
                    <div class="d-flex justify-content-center">
                            <a class="btn btn-outline-dark" asp-controller="Account" asp-action="SignOut">Salir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>