<header class="header header-absolute">
    <!-- Navbar-->
    <nav class="navbar navbar-dark navbar-hover-light bg-transparent navbar-fullscreen navbar-fullscreen-light px-0 px-sm-3">
        <div class="container-fluid">
            <!-- Navbar Header  -->
            <a class="navbar-brand d-none d-md-block" asp-action="Index" asp-controller="Home">
                <img src="/img/logo_crecer.png" class="logo-home">
            </a>           
        </div>
    </nav>
</header>