@{
    ViewData["Title"] = "Acceso Denegado";
}



<section class="hero mt-5">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Acceso Denegado</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Acceso Denegado</h1>
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <p class="lead text-muted">El contenido al que intenta acceder no esta autorizado para su usuario</p>
                </div>
            </div>
        </div>
    </div>
</section>

<vc:footer-section></vc:footer-section>