@model PasswordRecoveryRequestViewModel
@{
    ViewData["Title"] = "Iniciar Sesión";
}

<partial name = "_SimpleHeader"/>

<!-- Hero Section-->
<section class="hero">
    <div class="container">
        <!-- Hero Content-->
        <div class="hero-content mt-4 pb-5 text-center">
            <h1 class="hero-heading mb-0">Recuperar Contraseña</h1>
        </div>
    </div>
</section>

<!-- customer login-->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="block">
                    @* <div class="block-header">
                        <h6 class="text-uppercase mb-0">Iniciar Sesión</h6>
                    </div> *@

                    <div class="block-body">
                        <p class="lead">¿Olvidaste tu contraseña?</p>
                        <p class="text-muted">Ingresa tu correo y te enviaremos las instrucciones para recuperarla.</p>
                        <hr>
                        <msgblock></msgblock>
                        <form method="post">
                            <div class="mb-4">
                                <label class="form-label" asp-for="Email"></label>
                                <input class="form-control" asp-for="Email" type="text">
                            </div>
                            <div class="mb-4 text-center">
                                <button class="btn btn-outline-dark" type="submit"><i
                                        class="fa fa-sign-in-alt me-2"></i> Recuperar
                                    Contraseña</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<vc:footer-section></vc:footer-section>