@{
    ViewData["Title"] = "Email Restablecer Contraseña Enviado";
}

<partial name="_SimpleHeader" />

<section class="hero">
    <div class="container">
        <!-- Hero Content-->
        <div class="hero-content mt-4 pb-5 text-center">
            <h1 class="hero-heading mb-0">Recuperar Contraseña</h1>
        </div>
    </div>
</section>

<section>
    <div class="m-5">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="block">
                    <div class="block-body">
                        <h3 class="text-center">Email Enviado</h3>
                        <p class="lead text-muted text-center">Hemos enviado un mensaje a tu email. Revísalo para poder
                            resetear la
                            contraseña.</p>
                    </div>

                </div>
            </div>
            <div class="row">
                <a class="text-center" href="@Url.Action("Index","Home")">
                    <button id="register-button" class="btn btn-outline-dark" type="submit"><i
                            class="fas fa-home"></i>Inicio
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<vc:footer-section></vc:footer-section>