@model ProviderEditViewModel
@{
    ViewBag.Title = "Proveedor";
}

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Inicio</a></li>            
            @if(!User.GetFairProviderId().HasValue)
            {
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Provider">Proveedores</a></li>
            }
            <li class="breadcrumb-item active">Crear</li>
        </ol>
    </nav>
</div>

<div class="col-12 col-xl-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Crear Proveedor</h5>
            <h6 class="card-subtitle text-muted">Datos Generales</h6>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Create" asp-controller="Provider">
                <partial name="_FormFields" model="Model"/>
                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
    </div>
</div>